h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 291301083-01. Alistar dispositivos de captura y otros recursos, según especificaciones técnicas del diseño. 

            li 
                span 291301083-02. Digitalizar imágenes con equipos tecnológicos según requerimientos del proyecto de diseño y software especializado.
