.container
    .header-ecored
        h1 3. Captura fotográfica análoga y digital

    .jumbotron.bg-white 
        img.img-a(src="assets/images/pages/tema_3/img_1.png").img-fluid
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                hr.border-color-primary
                .row.justify-content-center
                    .col-12.col-md-6
                        p.text-right La captura de la imagen en las cámaras fotográficas análoga y digital es diferente. Ya que la cámara análoga utiliza un rollo fotográfico sensible a la luz que ingresa por el lente y la imagen latente queda impresa por la oxidación de la emulsión adherida al rollo fotográfico.
                    .col-12.col-md-6
                        p Esa oxidación se da por un proceso químico dado por la luz y los haluros de plata dispuestos en el rollo, que posteriormente debe ser revelada e impresa en papel para poder apreciar la imagen como resultado de la toma fotográfica.
        hr.border-color-primary

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                .jumbotron.bg-02
                    p.tamano_text Por su parte, la cámara digital utiliza un sensor digital que está formado por millones de células #[strong fotosensibles], 
            .col-12.col-md-6
                p donde se transforma la luz en #[strong impulsos electrónicos] creando digitalmente la imagen. Al tomarse una fotografía cada celda del sensor analiza la luz que le llega del exterior por el lente; de esta manera la fotografía digital es más fácil, práctica y editable.
        
        img.mt-5.img-a(src="assets/images/pages/tema_3/img_2.png").img-fluid
        p.mt-3.text-center Fuente: Fernández (2020)

        .sub-ecored.mt-5#tema3_1
            h2 3.1 Introducción: definición e historia
        
        .row.justify-content-center.mt-5
            .col-12.col-md-6
                p.tamano_text Definir la fotografía es asumirla como arte sumada con la técnica. 
                p Es decir, elegir el mejor escenario para obtener imágenes duraderas debido a la acción de la luz en los diferentes formatos de captura de imágenes. Ellos pueden ser análogos o digitales. 
                img.img-a(src="assets/images/pages/tema_3/img_3.png").img-fluid
            .col-12.col-md-6
                p.tamano_text.line_recua Querer hablar de la historia de la fotografía es un tema largo y ancho en la historia de la humanidad.
                p Por ello, es preciso mencionar que el deseo del hombre por representar la realidad no lo detuvo hasta que la simplificó con el manejo y poder de la luz sobre un dispositivo tangible como la cámara fotográfica. Al referirse a que el tema puede ser largo tanto de ancho como de largo figurativamente, hace referencia a que el proceso de captura de imagen también fue una invención del dispositivo que permitiera esta realidad.
        
        p.tamano_text.line_recua.text-center.mt-5 #[strong Línea de tiempo] de la fotografía

            
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Aristóteles usa la primera cámara oscura.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_26.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 300 a. C.  

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Primera publicación sobre la cámara oscura en Europa.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_25.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1521.   

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Primer tratado sobre las sales de la plata.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_26.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1777. 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0.mt-3
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Se difunde el daguerrotipo.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_27.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1839.

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.mt-5
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Se inventa el colodión húmedo.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_26.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1850. 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Primera fotografía a colores de James Maxwell.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_28.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1861.

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.mt-5
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Primer uso de flash a base de magnesio.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_26.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1864. 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Se inventan las “placas secas”.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_29.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1871.

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.mt-5
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Primera película fotográfica flexible.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_26.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1889. 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Primera placa a colores de los Lumière.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_30.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1903.

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.mt-5
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Primera cámara de 35mm.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_26.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1920. 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Aparece la lámpara de flash.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_31.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1930.

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.mt-5
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Aparece la película de color Agfa.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_26.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1936. 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.p-4.mb-0 Kodak anuncia la primera cámara digital”. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/tema_3/img_32.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1975.

        .jumbotron.bg-05.mt-5
            h2 Nota
            p Para conocer en mayor detalle la historia de la fotografía con sus principales exponentes. se sugiere consultar el documento “Historia de la fotografía: un recorrido por los principales referentes fotográficos y su influencia posterior” escrito por la autora Yessica Espinosa.

        .sub-ecored.mt-5#tema3_2 
            h2 3.2 Usos y aplicaciones

            .row.justify-content-center.mt-5
                .col-12.col-md-6
                    P.text-right El uso de la fotografía fue creado para la representación de la realidad desde su creación y hasta hoy día, la fotografía ha construido una necesidad comunicativa importante en la humanidad. Por ello, se debe pensar que no solo es una herramienta que permite reflejar y eternizar diferentes momentos de la vida, también es una herramienta de comunicación directa, con un lenguaje universal que es el de la imagen y que en su práctica y utilidad es de todos.
                .col-12.col-md-6
                    p La digitalización de la imagen en los avances tecnológicos, ha puesto a que la fotografía sea cada vez más utilizada de manera doméstica y de entretenimiento. Pero hay otras utilidades de la misma con carácter científico completamente académico, que sirve para la construcción del conocimiento. También ha sido utilizada por la publicidad para sus proyectos publicitarios. Denotando con ello, que la práctica fotografía es amplia, alta y creciente. 
            .row.justify-content-center.mt-5
                .col-12.col-md-6
                    p.tamano_text.text-center #[strong Dentro de estos usos y aplicaciones hay diversos tipos de fotografías,] 
                    p.text-center cada una de ellas con su desarrollo y producción completamente particular y específico buscan dar la mejor comunicación a su público de interés. 

                    p.text-center.mt-5.color_text Encontrándose las siguientes:

            nav.nav-tab-ecored.my-5
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-01-tab.nav-item.nav-link.active.text-center(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                        img.img-a(src="assets/images/pages/tema_3/img_4.png").img-fluid
                        strong.text_red Fotografía publicitaria
                    a#nav-02-tab.nav-item.nav-link.text-center(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                        img.mt-4.img-a(src="assets/images/pages/tema_3/img_5.png").img-fluid
                        strong.text_red Fotografía documental
                    a#nav-03-tab.nav-item.nav-link.text-center(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false')
                        img.mt-4.img-a(src="assets/images/pages/tema_3/img_6.png").img-fluid 
                        strong.text_red Fotografía paisajística
                    a#nav-04-tab.nav-item.nav-link.text-center(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                        img.mt-2.img-a(src="assets/images/pages/tema_3/img_7.png").img-fluid
                        strong.text_red Fotografía científica
                    a#nav-05-tab.nav-item.nav-link.text-center(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                        img.mt-2.img-a(src="assets/images/pages/tema_3/img_8.png").img-fluid
                        strong.text_red Fotografía artística
                    
                #nav-tabContent.tab-content
                    #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                        p Su característica es darle importancia al producto comercial, es ahí donde focaliza toda su atención escénica; es decir, en decoración y puesta en escena en la producción técnica: nitidez, encuadre o angulación. Este uso de la fotografía es de un amplio lenguaje, con infinitas propuestas en la utilización de espacios, personajes, artículos, decorados; pero con un máximo de preocupación por una muy buena calidad de imagen fotográfica final.


                    #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                        p Busca el relatar algún aspecto de la vida, procura encontrar un diálogo de significación entre los acontecimientos y el relato visual propuesto en la fotografía. Es una fotografía en sitio; es decir, necesita desarrollarse en el lugar como escenario propio de la fotografía documental 
                    #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                        p Busca exaltar la belleza natural del paisaje, la mayoría de las fotografías son tomadas en planos generales y deben ser en exterior. Como condición esencial de toda fotografía es necesario tener una muy buena iluminación. Aquí hay que decir que el trabajo fotográfico con luz natural puede dificultar el buen registro fotográfico. 

                    #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                        .row.justify-content-center.align-items-center
                            .col-12.col-md-8
                                img.img-a(src="assets/images/pages/tema_3/img_9.png").img-fluid
                            .col-12.col-md-4
                                p.tamano_text Fotográficamente es un recurso fundamental para la documentación de los procesos científicos que se realcen.
                                p Sirve como documento y archivo y es muy importante, ya que conforma una base de datos catalogable.

                    #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                        p Es una fotografía que permite una apreciación única de la realidad al fotógrafo. El valor artístico y expresivo son los más fuertes soportes para esta clase de fotografías, ya que una fotografía puede no tener en cuenta las reglas de composición fotográfica, debido a que su carácter artístico le proporciona esta libertad narrativa.

        .sub-ecored.mt-5#tema3_3 
            h2 3.3 Concepto y operación

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_10.png").img-fluid

            .jumbotron.bg-04.mt-5
                p El concepto fotográfico es un requerimiento que lo da, la necesidad comunicativa de la fotografía y su público; es decir, qué desea comunicar el fotógrafo con la imagen. Como se vio anteriormente, cada aplicación fotográfica tiene su contexto, personajes y situaciones; y la manera en cómo se consigue esa representación de la realidad hecha fotografía, será responsabilidad del fotógrafo para ubicarse en el lugar, momento y hora adecuada para cada una de los diferentes conceptos fotográficos. 

        .sub-ecored.mt-5#tema3_3_1 
            h3 3.3.1 Cámaras y sus componentes

            p.text-center.color_text #[strong Los principales componentes de una cámara fotográfica son los siguientes:]

        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            h2.mb-0.collapsable-title El visor
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-5
                            .col-12.col-md-6
                                .row.justify-content-center.align-items-center
                                    .col-12.col-md-6 
                                        img.img-a(src="assets/images/pages/tema_3/img_11.png", alt="").img-fluid
                                    .col-12.col-md-6 
                                        p Es por donde la mirada observa y encuadra la toma fotográfica. En sí, se debe interpretar qué ve la cámara fotográfica.

                                        
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            h2.mb-0.collapsable-title El objetivo
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-3
                            .col-12.col-md-8 
                                p Es el lente del cuerpo de la cámara, es por donde entra la luz a la cámara para que el sensor registre de manera correcta la #[strong imagen latente] dada por la luz. Lo que el lente proporciona y genera en la cámara es darle diferentes #[strong perspectivas] en la imagen fotográfica.   
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                            h2.mb-0.collapsable-title El sensor
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12.col-md-8
                                p Componente principal dentro de muchos que intervienen en la buena calidad de la toma fotográfica. Es el encargado de capturar la luz y convertirla en corriente eléctrica para generar una imagen digital.
                                
            .card
                #headingFour.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                            h2.mb-0.collapsable-title El diafragma
                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12.col-md-8
                                p Son las cortinillas encargadas con sus movimientos físicos de cerrar y abrir según sea la indicación realizada por el operador de la cámara, lo que permitirán mayor o menor cantidad de luz hacia el sensor según la necesidad de la toma fotográfica, como resultado de la iluminación presente de la escena. También su apertura del diafragma hará que la nitidez de la imagen se amplíe.
                        
            .card
                #headingFive.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                            h2.mb-0.collapsable-title El obturador
                #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12.col-md-8
                                p Son cortinillas encargadas de bloquear la luz al sensor. Su movimiento permite el ingreso de la luz del exterior por el lente, lo que hace que al sensor registrar la luz para convertirla en imagen digital. Este proceso ya está antecedido por el funcionamiento del diafragma, por lo tanto, el obturador finalmente hará posible en la fotografía, que ese instante de la realidad quede plasmando y pueda quedar registrado en la cámara fotográfica.

            .card
                #headingSix.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                            h2.mb-0.collapsable-title La pantalla
                #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12.col-md-8
                                p se le conoce como Display y es el encargado de permitir al fotógrafo visualizar la imagen que la cámara está asumiendo por el lente. En las cámaras actuales es la que permite visualizar también el menú y los parámetros configuración de la cámara. Se debe tener en cuenta que su utilización va a agotar de manera amplia la batería del cuerpo de la cámara.
            
            .card
                #headingSeven.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                            h2.mb-0.collapsable-title Los botones y diales de control
                #collapseSeven.collapse(aria-labelledby='headingSeven', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12.col-md-8
                                p Son los diferentes mecanismos físicos que harán que la cámara fotográfica opere de manera específica, según sea la necesidad del fotógrafo. Cada botón tiene una función específica y haciendo referencia al dial, este es la perilla superior donde según su posición respecto al indicador, da una función determinada para el manejo de la cámara. 

        .sub-ecored.mt-5#tema3_3_2 
            h3 3.3.2 Lentes y objetivos
            .row.justify-content-center.mt-5
                .col-12.col-md-4
                    p.tamano_text.line_recua Los lentes y objetivos son parte fundamental para la buena calidad de las fotografías,
                .col-12.col-md-8
                    p si bien la cámara será la que opera y captura la imagen, el lente es quien recoge y dirige. La luz debe llegar al sensor, de manera que su construcción y el material de cristal con el que se está elaborado, más la amplitud del diafragma, incidan en el resultado final de la fotografía. Lo anterior se establece desde las cámaras DSRL, que tienen cuerpo independiente, lo cual se da porque tienen lentes intercambiables que se utilizan según la necesidad de la toma fotografía y propuesta artística. Existen cámaras compactas que tienen su lente fijo y que no habrá manera de proponer artísticamente alteraciones en la imagen final capturada; como si es posible con lentes intercambiables.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_12.png").img-fluid

            p.text-center.mt-5 La amplia gama de lentes a disposición hace posible que todas las necesidades y exigencias fotográficas sean posibles. Es importante mencionar que los diferentes lentes tienen diversos ángulos de toma fotográfica. Todos los lentes se miden en mm (28 mm, 50 mm) y cada uno de ellos tiene su ángulo y amplitud de toma. 


            .row.justify-content-center.mt-5
                .col-12.col-md-8
                    p.color_text.text-center Cada color en la siguiente imagen, representa un ángulo de toma según su valor de en mm.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_13.png").img-fluid

            p.text-center.line_recua.mt-5 #[strong Tipos] de lentes

        .card.mt-4
            .card-body
                .row
                    .col-3
                        #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                            a#v-pills-home-tab.nav-link.active.text-center(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true') #[strong Gran angular] #[br]18 mm – 28 mm
                            a#v-pills-profile-tab.nav-link.mt-3.text-center(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false') #[strong Lente angular] #[br]35 mm
                            a#v-pills-messages-tab.nav-link.mt-3.text-center(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false') #[strong Lente normal] #[br]50 mm 
                            a#v-pills-messages1-tab.nav-link.mt-3.text-center(data-toggle='pill', href='#v-pills-messages1', role='tab', aria-controls='v-pills-messages1', aria-selected='false') #[strong Teleobjetivo] #[br]100 mm
                            a#v-pills-messages2-tab.nav-link.mt-3.text-center(data-toggle='pill', href='#v-pills-messages2', role='tab', aria-controls='v-pills-messages2', aria-selected='false') #[strong Teleobjetivo] #[br]500 mm
                            
                    .col-9
                        #v-pills-tabContent.tab-content
                            #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
                                p.tamano_text El gran angular es un lente de una utilización muy específica, ya que #[strong altera la imagen y cambia la forma de los objetos de manera que los desproporciona]. 
                                p Igualmente, por esas condiciones mencionadas sirve para generar interés artístico y funcionalmente se puede tener buenas tomas en lugares estrechos. 
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-12.col-md-6
                                        img.img-a(src="assets/images/pages/tema_3/img_14.png").img-fluid
                                    .col-12.col-md-5 
                                        img.img-a(src="assets/images/pages/tema_3/img_15.png").img-fluid 
                            #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
                                p.mt-7 El lente angular va desde 35 mm hasta los 45 mm. Como se puede ver en la siguiente imagen, alterar las formas de los cuerpos fotografiados, tiene también una utilidad muy específica.
                            #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                                p.mt-7 Es el lente de preferencia y es un ángulo de toma normal. Es importante mencionar que, para todos los lentes intercambiables, su apertura en diafragma incide en la cantidad de luz que va a llegar al sensor. Estas lentillas del diafragma existen en el lente, por lo que entre más apertura el lente será más costoso. 
                            #v-pills-messages1.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                                p.mt-7 Este es un tipo de lente que permite registros fotográficos a una amplia distancia. Por su extensión y construcción física deben ser de amplio diafragma, de ser así sería demasiado opaco como se le denomina fotográficamente hablando a lentes con baja apertura de diafragma.
                            #v-pills-messages2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                                p.mt-7 Esta clase de objetivos son de un alto valor económico, por lo que su utilización será para fotógrafos especialistas en determinadas tomas, como avistamiento de aves, deportivas, entre otras. Su construcción es de un material de color blanco para no tener inconvenientes con la dilatación de sus materiales en contacto prolongado con el sol, pues es un lente para tomar fotografías en exteriores.



        .sub-ecored.mt-5#tema3_3_3 
            h3 3.3.3 Iluminación 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8 
                h2.text-center La iluminación en fotografía es la materia prima, sin ella no podrá ser posible que la cámara fotográfica registre una imagen.
                p.text-center Se debe recordar que es el sensor de la cámara fotográfica el que recoge la luz que llega del exterior. Cuando se hace referencia a la iluminación en fotografía, se debe tener en cuenta las fuentes lumínicas. Para estos asuntos fotográficos se tendrán en cuenta dos: 
        
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/tema_3/img_16.png").img-fluid
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/tema_3/img_17.png").img-fluid


        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                p.tamano_text.text-center #[strong Cualquiera de las dos serán determinantes para la construcción de la imagen en la cámara fotográfica], pues sin presencia de luz no habrá información suficiente para que el sensor la convierta en imagen.
                p.text-center  El trabajar con fuente de iluminación natural es más complicado que con luz artificial, pues se debe considerar que es una luz que está presente a determinadas horas en el día, además de la existencia de nubes, las cuales cambian las condiciones lumínicas; lo que finalmente hará no controlar nunca la luz natural. Por supuesto, es una luz que se tiene presente en el día y para la generalidad de tomas fotográficas funciona haciendo un buen uso de ella. Pero en fotografías más estrictas como la publicitaria, hace falta adicionar a las condiciones de luz natural, unas luces artificiales que potencien la escena a fotografiar.

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/tema_3/img_18.png").img-fluid
            .col-12.col-md-4
                p.tamano_text.line_recua Por otra parte, la iluminación artificial es una luz que se puede controlar, poner, quitar o alterar;
                p lo cual hace que favorezca por sus múltiples maneras de iluminar el escenario. En el universo de las luces artificiales, cualquiera se puede utilizar para la fotografía; aunque hay por supuesto muchas dedicadas y especializadas para fotografía, pero desde una vela hasta un bombillo de poste de luz, puede favorecer la toma fotográfica. 

        .sub-ecored.mt-5#tema3_3_4 
            h3 3.3.4. Sensibilidad (Norma ISO)

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/tema_3/img_19.png").img-fluid
            .col-12.col-md-6
                p La sensibilidad hace referencia a la posibilidad electrónica que tiene la cámara fotográfica de utilizar la luz que desde la exterior llega al sensor. Este es un mecanismo integrado en la cámara que se denomina ISO (International Organization for Standardization), el cual tiene valores referentes desde 100 hasta 16000 según modelos de cámaras y autonomías de la misma. 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                p Lo que significa que, en condiciones normales de luz para la toma fotográfica, sus valores pueden ser de 100 hasta 500 ISO. Pero si en la toma fotográfica, su escenografía no cuenta con la suficiente iluminación, tendrá que de manera autónoma darle o programar valores mayores (700-16000 ISO) a la cámara para que desde su sistema integrado electrónico le otorgue luz y la fotografía final tenga buen resultado.
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/tema_3/img_20.png").img-fluid

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-10

                h2.text-center Todo este proceso es electrónico y debe indicarle a la cámara desde el menú y hay que tener en cuenta que entre más valor de ISO se utilice la imagen final tendrá lo que en fotografía se llama “grano”. 
        .row.justify-content-center.align-items-center
            .col-12.col-md-9
                p.text-center Lo cual es una textura similar a granos perceptibles en la fotografía que no van a incidir en la nitidez del mismo, pero si en la percepción de textura en la imagen. Esto como resultado de la utilización de un ISO alto, ya que, entre más ISO, más textura granulada tendrá la imagen final.

        .sub-ecored.mt-5#tema3_4 
            h2 3.4 Medición y exposición

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5
                .jumbotron.bg-02
                    p.tamano_text La medición y exposición fotográfica está sometida a dispositivos electrónicos en su mayoría externos y #[strong hace referencia a valores adecuados que se deben manejar en la cámara para obtener una buena toma fotográfica]. 

            .col-12.col-md-7    
                p Estos valores los dará un exposímetro que hará lectura de la cantidad de luz que llega a el sensor. Como se ha dicho, la fotografía es el manejo y utilización de la luz y para ello, la cámara tiene unos dispositivos que sirven para detener el exceso de luz y ausencia de la misma. Estos mecanismos son el diafragma y el obturador, anteriormente mencionados. 
                p Debe haber un equilibrio en valores asignados para cada mecanismo que hará que la toma fotográfica sea adecuada, pues un ingreso de mucha luz al sensor hará que la fotografía tenga una sobreexposición y se verá negra, debido que llega mucha luz y satura el sensor. O lo contrario, una subexposición que será una fotografía blanca por la ausencia de luz en el sensor. Habiendo dicho esto, la medición se hace desde un exposímetro externo que asumirá la cantidad de luz que le llega al sensor de la cámara, indicándole en su pantalla digital del exposímetro qué valor de diafragma y obturador debe manejar la cámara.

        
        h3.mt-5 Prioridad de apertura o velocidad

        .row.justify-content-center.mt-5
            .col-12.col-md-6
                p Este punto se refiere a la velocidad en que se mueve el obturador, que es un mecanismo de cortinillas ubicadas horizontalmente frente al sensor. Su movimiento permite la entrada de la luz que ya ha pasado por el diagrama al sensor y ese tiempo de duración de luz que está llegando al sensor, será la que asumirá el sensor y transformará en electricidad para construir electrónicamente la imagen.
                img(src="assets/images/pages/tema_3/img_21.png").img-fluid
            .col-12.col-md-6
                p Como se ha mencionado, el obturador y su apertura permiten la toma fotográfica, pero también tendrá valores de velocidad de apertura para buscar un control de luz y permitir tener un comportamiento específico de lo que ocurre en dicha. Es decir, poder a altas velocidades (500-1000) de utilización del obturador, hacer lo que en fotografía se le conoce como congelados a los elementos en movimiento.
                img(src="assets/images/pages/tema_3/img_22.png").img-fluid

        p.text-center.mt-5 También, por el manejo de la velocidad lenta (1 o 2 segundos) en obturación, se pueden hacer efectos fotográficos de barrido y de movimiento de objetos, permitiendo tener efectos en la imagen creativos y vistosos. 

        .row.justify-content-center.mt-5
            .col-12.col-md-6
                img(src="assets/images/pages/tema_3/img_23.png").img-fluid
            .col-12.col-md-6
                img(src="assets/images/pages/tema_3/img_24.png").img-fluid
