.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Haluros de plata:	
            | el revelador transforma en plata metálica la imagen latente generada en estos compuestos por la acción de la luz. 
        
        p
            strong.mr-2 Impulsos eléctricos:	
            | son variaciones en la intensidad o en la tensión de una corriente de tipo pulsatorio, y suelen durar tan sólo unos microsegundos y mostrar una onda angulosa.

        p
            strong.mr-2 Oxidación:	
            | fenómeno químico en virtud del cual se transforma un cuerpo o un compuesto por la acción de un oxidante, que hace que en dicho cuerpo o compuesto aumente la cantidad de oxígeno y disminuya el número de electrones de alguno de los átomos.

        p
            strong.mr-2 Siglas:	
            |abreviación gráfica formada por el conjunto de letras iniciales de una expresión compleja.



