.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Amador, P. (s.f.). La imagen fotográfica y su lectura. 
                    td Documento PDF
                    td 
                        a(href="https://core.ac.uk/download/pdf/30042969.pdf ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar         

                tr
                    td Zerbst, C. (2008). Introducción a la fotografía digital. 
                    td Documento PDF
                    td 
                        a(href="https://www.uv.mx/personal/lenunez/files/2013/06/INICIACION-A-LA-FOTOGRAFIA-DIGITAL-DeCamaras.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar