include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Adobe. (2020). Acerca de las dimensiones en píxeles y la resolución de la imagen impresa.", "https://helpx.adobe.com/es/photoshop/using/image-size-resolution.html")

        +referenciaItem("Amador, P. (s.f.). La imagen fotográfica y su lectura.", "https://core.ac.uk/download/pdf/30042969.pdf ") 

        +referenciaItem("Barros, J. (2020). Fotografía: tamaño de imagen, resolución y tamaño físico.", "https://perio.unlp.edu.ar/catedras/iddi/wp-content/uploads/sites/125/2020/05/Fotograf%C3%ADa.-Tama%C3%B1o-de-imagen-resoluci%C3%B3n-y-tama%C3%B1o-f%C3%ADsico.pdf") 

        +referenciaItem("Berger, J. (2015). Para entender la fotografía. Editorial Gustavo Gili. Definición de. (2020). Impulso.", "https://definicion.de/impulso/#:~:text=Los%20impulsos%20el%C3%A9ctricos%20son%20variaciones,fisioterapia%2C%20m%C3%A1s%20precisamente%20la%20electroestimulaci%C3%B3n.", "https://definicion.de/impulso/#:~:text=Los%20impulsos%20el%C3%A9ctricos%20son%20variaciones,fisioterapia%2C%20m%C3%A1s% 20precisamente%20la%20electroestimulaci%C3%B3n.") 

        +referenciaItem("Díaz, M. P. (2019). Mirar el pasado imagen e historia en la era digital. Editorial Comares.")

        +referenciaItem("Fernández, F. (2020). Cómo funciona el sensor de una cámara digital.", "https://quecamarareflex.com/como-funciona-el-sensor-de-una-camara-digital/")

        +referenciaItem("Lexico. (2020). Oxidación.", "https://www.lexico.com/es/definicion/oxidacion")

        +referenciaItem("Máxima, J. (2020). Historia de la fotografía.", "https://www.caracteristicas.co/historia-de-la-fotografia/#ixzz6em73BDMA ")

        +referenciaItem("Real Academia Española (RAE). (2020). Sigla.", "https://dle.rae.es/sigla")

        +referenciaItem("Sociedad Fotográfica de Málaga. (2020). Haluros de plata.", "https://www.sfm.org.es/glosario/h#:~:text=El%20revelador%20transforma%20en%20plata,la%20acci%C3%B3n%20de%20la%20luz.&text=Al%20procesar%20%C3%A9sta%20con%20una,n%C3%BAmero%20de%20part%C3%ADculas%20se%20crear%C3%A1n.", "https://www.sfm.org.es/glosario/h#:~:text=El%20revelador%20transforma%20en%20plata,la%20acci%C3%B3n%20de%20la%20luz.&text= Al%20procesar%20%C3%A9sta%20con%20una,n%C3%BAmero%20de%20part%C3%ADculas%20se%20crear%C3%A1n." )

        +referenciaItem("Zerbst, C. (2008). Introducción a la fotografía digital.", "https://www.uv.mx/personal/lenunez/files/2013/06/INICIACION-A-LA-FOTOGRAFIA-DIGITAL-DeCamaras.pdf ")






        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            