.header-arrow {
  position: relative;
  background-color: #205D78;
  padding: 2rem;
  border-radius: 1rem;

  h1,h2,h3 {
      margin: 0;
      color: $white;      
  }

  &--xs {
    padding: 0;
    height: 8px;
  }

}